[Unit]
Description=multimon portable deamon
After=network.target

[Service]
User=dt100
WorkingDirectory=/var/www/multimon_portable
ExecStart=/var/www/multimon_portable/multimon.py
Restart=always

[Install]
WantedBy=multi-user.target